<div class="jumbotron center">
<h1>HOME PAGE</h1>
<p>Click here to <%= link_to "Log In", "#", class: "btn btn-default btn-md"%><%= link_to "Sign Up", "#", class: "btn btn-primary btn-md"%></p>
</div>
